.reveal .slide-number {
    font-size: 0.5em;
    color: #000000;
    background-color: rgba(0, 0, 0, 0);
}

.contr-box {
    border-style: solid;
    border-width: 2px;
    padding-left: 1rem;
    display: flex;
    margin-bottom: 1rem;
    padding-top: 10px;
    padding-bottom: 10px;
}

.contr-paper {
    margin-top: auto;
    margin-bottom: auto;
    align-items: center;
    width: 70%;
    text-align: left;
    float: left;
}

.contr-title {
    font-weight: bold;
    font-size: 1.5rem;
    margin-bottom: 0px !important;
}

.contr-authors {
    font-style: italic;
    font-size: 1.0rem;
    margin-top: 0px !important;
}

.contr-badges {
    width: 30%;
    float: right;
}

.contr-badge {
    width: 5rem;
    float: right;
    padding-right: 1rem;
    margin: 0px !important;
}

.artifact-container {
  display: inline-flex;
  align-items: center; /* center alignment */
  gap: 8px;            /* space between title and badge */
}

.artifact-title {
  font-size: 2rem;
  font-weight: 600;
}

.doi-badge {
  display: inline-flex;
  font-family: "DejaVu Sans", Verdana, Geneva, sans-serif;
  font-size: 13px;
  text-decoration: none;
  border-radius: 3px;
  overflow: hidden;
  border: 0px solid #ccc;
}

.doi-badge .label {
  background: #555;
  color: white;
  padding: 4px 6px;
  font-weight: 600;
}

.doi-badge .value {
  background: #1f78ff;
  color: white;
  padding: 4px 8px;
  text-decoration: none;
}

.doi-badge .value:hover {
  background: #1f78ff;
}

Copy
.noBorder {
    border:none !important;
}

.citation {
    padding-left: 0.5rem;
    margin-bottom: 1rem;
    background-color: rgb(219, 219, 219);
    border-left: solid 10px gray;
    text-align: left;
    padding-left: 0.5em;
}

.cite {
    font-size: 1.5rem;
    text-align: left; 
}

.source {
    font-size: 1rem;
    text-align: left;
    font-style: italic;
}