.reveal .slide-number {
    font-size: 0.5em;
    color: #000000;
    background-color: rgba(0, 0, 0, 0);
}

.contr-box {
    border-style: solid;
    border-width: 2px;
    padding-left: 1rem;
    display: flex;
    margin-bottom: 1rem;
    padding-top: 10px;
    padding-bottom: 10px;
}

.contr-paper {
    margin-top: auto;
    margin-bottom: auto;
    align-items: center;
    width: 70%;
    text-align: left;
    float: left;
}

.contr-title {
    font-weight: bold;
    font-size: 1.5rem;
    margin-bottom: 0px !important;
}

.contr-authors {
    font-style: italic;
    font-size: 1.0rem;
    margin-top: 0px !important;
}

.contr-badges {
    width: 30%;
    float: right;
}

.contr-badge {
    width: 5rem;
    float: right;
    padding-right: 1rem;
    margin: 0px !important;
}


